{% extends 'base.html' %}


{% block head %}

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/interactive.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
          $('.tooltip').tooltip();
        });
    </script>
<link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

{% endblock %}

{% block body %}
<!-- <div class="container fill">  -->
  <div class="row"  style="height: 100%; max-height: 100%"> 
    <div class="col-md-6 p-3 mb-2 bg-light text-dark">
        <div class="col-xs-1 text-center" style="padding-bottom:10px;"><h1>Email Politeness Feedback</h1></div>
        <form method="POST" action="/">
            <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Add a title for your email">
              </div>
              <div class="form-group">
                <textarea rows="28" class="form-control" name="sentence" id="formGroupExampleInput2" placeholder="Type or paste your email here and click Analyze."></textarea>
            </div>
            <button type="submit" class="btn btn-secondary float-right" style="border-radius: 12px;">Analyze</button>
        </form>
      <!-- Your first column here -->
    </div>
    <div class="col-md-6">
        <div class="col-xs-1 text-center" style="padding-bottom:30px;"><h1><h1>Overall Politeness Estimation</h1></div>
        <div class="flex">
          <h3>Polite</h3>
          <hr class = "politeness"> 
          <h3><span>Impolite</span></h3>
        </div>
        <!-- <hr class = "politeness"> -->
        <h3 class="label text-center" style="padding-top:25px; padding-bottom:30px;">Your email appears to be <mark id="politeness">{{ label_string }}</mark>.</h3>
        <hr class="solid">
        <h3 class="label text-center" style="padding-top:65px; padding-bottom:95px;">Actionable Feedback</h3> 
        <h4 class="label text-center">Type or paste your email and click</h4> 
        <h4 class="label text-center">"Analyze" to view feedback on your writing.</h4>        
      <!-- Your second column here -->
    </div>
  </div>
<!-- </div> -->
{% endblock %}